<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show and Tell Collection</title>
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/style.css">
  <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
  <header>
    <h1>Bird Sightings</h1>
  </header>
    <div id="app">
      <div class="container">
        <form @submit.prevent="addSighting">
          <fieldset>
            <legend>Add a new bird sighting</legend>
            <div>
              <label for="bird">Bird</label>
              <input id="bird" type="text" v-model="newSightingObj.bird">
            </div>
            <div>
              <label for="location">Location</label>
              <input id="location" type="text" v-model="newSightingObj.location">
            </div>
            <div>
              <label for="date">Date</label>
              <input id="date" type="date" v-model="newSightingObj.date">
            </div>
            <div>
              <label for="time">Time</label>
              <input id="time" type="time" v-model="newSightingObj.time">
            </div>
            <div>
              <label for="image">Image</label>
              <input id="image" type="text" v-model="newSightingObj.image">
            </div>
            <button type="submit">Submit</button>
          </fieldset>
        </form>
      </div>
      <div class="container">
      <table>
        <thead>
          <th>Image</th>
          <th>Bird</th>
          <th>Location</th>
          <th>Date</th>
          <th>Time</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <tr v-for="(sighting, index) in sightings" :class="{ odd: index % 2 === 0 }">
            <td><img :src="sighting.image" :alt="sighting.bird"></td>
            <td><a class="bird" :href="sighting.info">{{ sighting.bird }}</a></td>
            <td>{{ sighting.location }}</td>
            <td>{{ sighting.date }}</td>
            <td>{{ sighting.time }}</td>
            <td>
              <button type="button" @click="deleteSighting(sighting)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="collection.js"></script>
</body>
</html>