<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show and Tell Collection</title>
    <link rel="stylesheet" href="styles/normalize.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">Bird Sightings</h1>
    </header>
    <div id="app" class="outer-container">
      <div class="container">
        <form @submit.prevent="addSighting">
          <fieldset>
            <legend class="form__title">Add a Bird Sighting</legend>
            <div class="form__content">
              <div class="form__input">
                <label for="bird">Bird</label>
                <input
                  id="bird"
                  type="text"
                  placeholder="Northern Cardinal"
                  v-model="newSightingObj.bird"
                />
              </div>
              <div class="form__input">
                <label for="location">Location</label>
                <input
                  id="location"
                  type="text"
                  placeholder="Lakeside Park"
                  v-model="newSightingObj.location"
                />
              </div>
              <div class="form__input">
                <label for="date">Date</label>
                <input id="date" type="date" v-model="newSightingObj.date" />
              </div>
              <div class="form__input">
                <label for="time">Time</label>
                <input id="time" type="time" v-model="newSightingObj.time" />
              </div>
              <div class="form__input">
                <label for="image">Image</label>
                <input
                  id="image"
                  type="text"
                  placeholder="https://..."
                  v-model="newSightingObj.image"
                />
              </div>
            </div>
            <button type="submit" class="form__button" :disabled="!isValid()">Submit</button>
          </fieldset>
        </form>
      </div>
      <div class="container">
        <h2 class="table__title">Your Recorded Sightings</h2>
        <table>
          <thead>
            <th>Image</th>
            <th>Bird</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr
              v-for="(sighting, index) in sightings"
              :class="{ odd: index % 2 === 0 }"
            >
              <td><img :src="sighting.image" :alt="sighting.bird" v-if="sighting.image"/></td>
              <td>
                <a class="bird" :href="sighting.info">{{ sighting.bird }}</a>
              </td>
              <td>{{ sighting.location }}</td>
              <td>{{ sighting.date }}</td>
              <td>{{ sighting.time }}</td>
              <td>
                <button
                  type="button"
                  class="table__button"
                  @click="deleteSighting(sighting)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="collection.js"></script>
  </body>
</html>
