<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alpaca Fan Club Registration Form</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
  <div id="formApp">
    <form action="">
      <fieldset>
        <legend>Fan Club Registration</legend>
        <div>
          <label for="firstName">First Name</label>
          <input id="firstName" type="text" v-model="firstName">
        </div>
        <div>
          <label for="lastName">Last Name</label>
          <input id="lastName" type="text" v-model="lastName">
        </div>
        <div>
          <label for="street">Street Address</label>
          <input id="street" type="text" v-model="street">
        </div>
        <div>
          <label for="city">City</label>
          <input id="city" type="text" v-model="city">
        </div>
        <div>
          <label for="state">State</label>
          <select name="" id="state" v-model="state">
            <option :value="state.value" v-for="state in states">{{ state.name }}</option>
          </select>
        </div>
        <div>
          <label for="zipcode">Zip Code</label>
          <input id="zipcode" type="text" v-model="zipcode">
        </div>
        <div class="alpaca-color">
          <p>Favorite Alpaca Colors</p>
          <div>
            <ul>
              <li v-for="color in colors">
                <label>
                  <input type="checkbox" :value="color.value" v-model="selectedColors">
                  {{ color.name }}
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="alpaca-status">
          <label for="status">Alpaca Status</label>
          <textarea id="status" cols="30" rows="10" v-model="status"></textarea>
        </div>
      </fieldset>
      <div class="output">
        <h3>Output</h3>
        <p>First Name: {{ firstName }}</p>
        <p>Last Name: {{ lastName }}</p>
        <p>Street Address: {{ street }}</p>
        <p>City: {{ city }}</p>
        <p>State: {{ state }}</p>
        <p>Zip Code: {{ zipcode }}</p>
        <p>Colors: {{ selectedColors }}</p>
        <p>Status: {{ status }}</p>
      </div>
    </form>
  </div>
  <script src="script.js"></script>
</body>
</html>