[v-cloak] {
  display: none;
}

body {
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}

h1, h2 {
  font-family: 'Patua One', serif;
}

h2 {
  margin-top: 50px;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.heading {
  background: linear-gradient(135deg, 
    hsl(189, 78%, 40%),
    hsl(313, 78%, 40%));
}

.heading__title {
  margin: auto;
  padding: 5%;
  max-width: 800px;
}

.content {
  margin: auto;
  max-width: 800px;
  padding: 5%;
}

.content__links {
  margin-top: 50px;
}

.content__links p {
  margin-bottom: 30px;
}

a:link {
  color: hsl(189, 78%, 40%);
}

a:visited {
  color: hsl(313, 78%, 40%);
}

a:hover {
  text-decoration: none;
}
