[v-cloak] {
  display: none;
}

body {
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}

h1, h2 {
  font-family: 'Patua One', serif;
}

h2 {
  margin-top: 50px;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.heading {
  background: linear-gradient(135deg, 
    hsl(189, 78%, 40%),
    hsl(313, 78%, 40%));
}

.heading__title {
  margin: auto;
  padding: 5%;
  max-width: 800px;
/*   color: hsl(0, 0%, 100%);
  text-shadow: 0px 0px 25px hsla(0, 0%, 0%, 0.2); */
}

.content {
  margin: auto;
  max-width: 800px;
  padding: 5%;
}

.content__links {
  margin-top: 50px;
}
