* {
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 95%));
}
.header {
  background-color: hsl(0 0% 20%);
  padding: 2.5%;
}
.header__title {
  text-align: center;
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0;
}
.outer-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 3% auto;
}
.container {
  padding: 2%;
  box-shadow: 0px 7px 15px hsla(0 0% 0% / 0.4);
  border-radius: 20px;
  margin: auto;
  background-color: hsl(0, 0%, 100%);

}
fieldset {
  border: none;
}
.form__title {
  background-color: hsl(108, 38%, 41%);
  color: hsl(0, 0%, 100%);
  padding: 15px 30px;
  width: 100%;
}
.form__title, .table__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: lighter;
  text-align: center;
}
.form__content {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}
button {
  background-color: hsl(0 0% 20%);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: .07rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: all .3s;
}
button:hover {
  background-color: hsl(0 0% 35%);
  transform: scale(.95);
}
table, thead, tbody, th, tr, td {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}
thead {
  background-color: hsl(108, 38%, 41%);
  color: hsl(0, 0%, 100%);
}
th {
  padding: 20px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: lighter;
}
td {
  padding: 15px;
  padding-right: 40px;
  font-size: 1.3rem;
  font-weight: lighter;
}
img {
  width: 150px;
}
.odd {
  background-color: hsl(0, 0%, 95%);
}
.bird {
  font-weight: bold;
  color: hsl(108, 38%, 41%);
  text-transform: capitalize;
}