* {
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
h1 {
  text-align: center;
}
table, thead, tbody, th, tr, td {
  border: none;
  border-collapse: collapse;
}
table {
  margin: auto;
}
td {
  padding: 20px;
  font-size: 1.2rem;
}
img {
  width: 150px;
}
.odd {
  background-color: hsl(0, 0%, 95%);
}