* {
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
header {
  background: linear-gradient(hsl(209 33% 50%), hsl(209 33% 38%));
  padding: 5%;
}
h1 {
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin: 0;
}
table, thead, tbody, th, tr, td {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}
thead {
  background-color: hsl(209, 33%, 38%);
  color: hsl(0, 0%, 100%);
}
th {
  padding: 20px;
}
td {
  padding: 20px;
  font-size: 1.2rem;
}
img {
  width: 150px;
}
.odd {
  background-color: hsl(0, 0%, 95%);
}
.container {
  text-align: center;
}
#app {
  padding: 2%;
  box-shadow: 0px 5px 15px hsla(0 0% 0% / 0.5);
  border-radius: 20px;
  display: inline-block;
  margin: 5%;
}